<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img
          src="../../../assets/gokub01-83921e9e312c71195532588b823ddbaf-600x400.jpg"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-chip color="primary" *ngFor="let item of [1,1,1,1,1,1]">
    <ion-avatar>
      <img
        src="../../../assets/gokub01-83921e9e312c71195532588b823ddbaf-600x400.jpg"
      />
    </ion-avatar>
    <ion-label>Goku</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <img
          src="../../../assets/gokub01-83921e9e312c71195532588b823ddbaf-600x400.jpg"
        />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
